body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #798ea0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container { */
/* background-color: rgb(167, 32, 32);
  color: rgb(0, 0, 0);
} */

div {
  background-color: #798ea0;
  color: #8a1414;
  padding: 5px;
  align-self: auto;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #798ea0;
  color: #8a1414;
  padding: 5px;
  align-self: auto;
}

h2 {
  align-self: center;
  padding-left: 3px;
}

h4 {
  padding-left: 3px;
}

p {
  padding-left: 3px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(233, 233, 233);
  opacity: 1; /* Firefox */
}

input[type="text"] {
  background-color: #798ea0;
  border: 1px solid #474747;
  min-height: 20px;
  padding: 3px;
  border-radius: 4px;
  margin-top: 2px;
  color: #1d1d1d;
}

input[type="text"]:focus {
  border: 2px solid rgb(56, 56, 56);
  outline: none;
  padding: 2px;
  background-color: #ebebeb;
}

input[type="text"]:hover:not(:focus) {
  border: 2px solid rgb(71, 71, 71);
  outline: none;
  padding: 2px;
}

.button {
  -webkit-appearance: none;
  display: inline-block;
  background-color: #798ea0;
  padding: 0.35em 1.2em;
  border: 1px solid #353535;
  margin-top: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ebebeb;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  -webkit-appearance: none;
  color: #000000;
  background-color: #ebebeb;
}

@media all and (max-width: 30em) {
  .button {
    -webkit-appearance: none;
    display: block;
    margin: 0.4em auto;
  }
}
